* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(120deg, purple, blue);
}

header {
  display: flex;
  min-height: 20vh;
  font-size: 3.5rem;
  align-items: center;
  justify-content: center;
}

#calc-container {
  min-height: 30vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calc {
  background-color: #e6e6e6;
  padding: 3px;
  border: none;
  min-width: 300px;
  min-height: 300px;
}

#results-container {
  min-height: 80px;
  position: relative;
}

#tracked-calculation {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  color: darkgrey;
  margin: 5px 5px;
}

#current-input {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  color: black;
  margin: 0 5px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  background-color: #fafafa;
}

.operator {
  background-color: #f0f0f0;
}

sup {
  font-size: 0.6rem;
  font-weight: bold;
}

button {
  border: none;
  margin: 0.8px;
  font-weight: bold;
  min-width: 70px;
  min-height: 40px;
  cursor: pointer;
}

button:hover {
  background-color: #a9a9a9;
}
